<html ng-app="todoApp">
<head>
    <title>The To-Do App</title>

         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">  
    
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="angular.js"></script>
        <script src="app.js"></script>
    </head>
    <body>
    <div ng-controller="TodoCtrl as ctrl" class="container">
        <h1 class="jumbotron">TODO App</h1>
        <div class="col-lg-6">
        <p class="text-muted">Add a TODO :<p>
        <input class="" type="text" ng-model="ctrl.todo"></input>
        <button class="btn btn-primary" style="margin: 10px;" ng-click="ctrl.addTodo()">Add</button>
        <button class="btn btn-success"  ng-hide="ctrl.editMode" ng-click="ctrl.editList()">Edit</button>
        <button class="btn btn-primary" ng-show="ctrl.editMode" ng-click="ctrl.editList()">Done</button>
        </div>
        <div class="col-lg-9">
                <ol>
               <li class="list-group-item list-group-item-info" ng-repeat="todo in ctrl.todos track by $index">
                   <span  ng-hide="ctrl.editMode" ng-bind="todo"></span>
                   <input class="input-group text-primary" ng-model="todo" ng-show="ctrl.editMode" type="text"></input>
                   <button class="btn btn-warning" style="margin:10px;" ng-hide="ctrl.editMode" ng-click="ctrl.deleteTodo($index)">Delete</button>
               </li>
                </ol>
            </div>
    </div>
</body>
</html>